nav {
  height: 15vh;
  width: 100%;
  background-image: linear-gradient(to right, #000000, #2c2b2b);
  color: rgb(255, 145, 0);
  /* margin-bottom: 20px; */
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navitems h2 {
  font-size: 30px;
}

.navitems button {
  text-align:center;
  width: 20%;
  height: 5vh;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #ffae00;
  font-family: serif;
  font-size: 20px;
  margin: auto 0px;
}

.fetchbtn:hover {
  background-color: rgb(204, 191, 10);
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to bottom right, #2b2a2a, #2c2c2c);
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* padding-top: 10vh; */
}


.name:hover {
  color: red;
}

.avatar {
  border-radius: 30%;
}

.profile_cont {
  border-radius: 15%;
  background-image: radial-gradient(#ffffff, #ffffff);
  margin: 5px;
  padding: 10px;
  width: 25%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}